body * {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.transport-container-form {
    background: rgba(245, 245, 220, 0.308);
    border: 2px solid black;
    margin: 10px 25%;
    padding: 10px;
    border-radius: 5px;
    min-width: 600px;
    font-size: 16px;
}
.chart-ges {
    background: rgb(255, 255, 255);
    border: 2px solid black;
    margin: 10px 25%;
    padding: 10px;
    border-radius: 5px;
    min-width: 500;
}
.chart-ges h2 {
    text-align: center;
    margin: 10px 0px;
    font-size: 2em;
}
.transport-container-form h2 {
    text-align: center;
    padding: 0px;
    margin: 10px 0px;
    font-size: 2em;
}
.transport-form-row {
    display: flex;
    margin: 15px;
    min-width: 0;
    border: 1px solid rgba(0, 0, 0, 0.288);
    background-color: rgb(231, 231, 231);
    border-radius: 1px;
    padding: 5px;
    box-shadow: 4px 4px #9e9a9a;
}
.transport-form-row-mode {
    margin-right: 15px;
}
.transport-form-row-inputs {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
}
.transport-form-row-inputs-row1{
    display: flex;
    flex: 1 1 auto;
    min-width: 0;
}
.transport-form-row-inputs-row1 input{
    margin-right: 15px;
    min-width: 0;
}
.transport-form-row-inputs-row1 input[type="text"]{
    flex: 1;
}
.transport-form-row-inputs-row2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 5px;
    min-width: 0;
}
.transport-form-row-inputs-row2 label:nth-child(1) {margin-left: 30px;}
.transport-form-row-inputs-row2 label {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.transport-form-row-inputs-row2 label input{
    margin-left: 8px;
}

.form-input {
    box-sizing: border-box;
    padding: 0.5em 0.7em;
    font-size: 0.9em;
    font-family: "Source Sans Pro", sans-serif;
  
    outline: none;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background: #f9f9f9;
}
input[type="button"].form-input {
    background-color: rgba(211, 79, 79, 0.897);
    padding: 10px;
    font-size: 0.8em;
    color: black;
    font-style: italic;
}
input[type="number"].form-input {
    max-width: 35px;
    text-align: center;
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    margin: 0;
}
input[type="checkbox"].form-input {
    -moz-appearance: checkbox;
    -webkit-appearance: checkbox;
    appearance: checkbox;
}
select.form-input {
    font-weight: 600;
}

.form-button {
    font-size: 1.1em;
    border: 1.5px solid #00000091;
    border-radius: 2px;
    outline: none;
    padding: 7px;
    margin-right: 10px;
}
.hidden{
    visibility:hidden;
 }