.repas-form {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;
    margin: 10px;
}
.repas-form label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    min-width: 135px;
}
.repas {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.repas-box {
    background-color: gray;
    border-style: solid;
    border-color: black;
    border-width: 1px 1px 1px 0px;
    padding: 10px;
}
.repas-box:first-child {
    border-width: 1px 1px 1px 1px;
}
.repas-box-selected {
    background-color: rgb(68, 149, 204);
}
.repas-form-controls {
    display: flex;
    margin-left: 10px;
}
.repas-form-controls button {
    font-size: 0.9em;
    border: 1.5px solid #686868;
    border-radius: 5px;
    outline: none;
    margin-left: 0.5em;
    min-width: 29px;
    min-height: 29px;
}
.repas-form-controls input[type="number"] {
    max-width: 20px;
    margin-left: 0.5em;
    text-align: center;
    -moz-appearance: textfield;
    min-width: 0;
}
.repas-form-controls input[type="number"]::-webkit-inner-spin-button,
.repas-form-controls input[type="number"]::-webkit-outer-spin-button {
    margin: 0;
}