/*
* FORM MAIN
*/

.form-main {
    background: rgb(255, 255, 255);
    padding: 15px;
    text-align: justify;
    width: 100%;
    box-sizing: border-box;
}
@media screen and (min-width: 750px) {
    .form-main {
        max-width: 750px;
    }
}
.form-main h2 {
    font-size: 1.3rem;
    color: #525252;
    padding: 5px;
}

.form-main h3 {
    font-size: 1.1rem;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin: 0;
    background-color: rgba(121, 208, 89, 0.593);
}

.form-main p, .form-main li {
    font-size: 0.95rem;
    line-height: 1.4rem;
    padding: 0px 20px;
    color: #414141;
}

/*
* FORM INPUT
*/

.form-input {
    box-sizing: border-box;
    padding: 0.5em 0.7em;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background: #f9f9f9;
}

input[type="number"].form-input::-webkit-inner-spin-button, input[type="number"].form-input::-webkit-outer-spin-button {
    margin: 0;
}

input[type="number"].form-input {
    text-align: center;
    -moz-appearance: textfield;
    max-width: 50px;
    margin-left: 15px;
}

input[type="checkbox"].form-input {
    -moz-appearance: checkbox;
    -webkit-appearance: checkbox;
    appearance: checkbox;
}

/*
* FORM BUTTON
*/
.form-button {
    font-size: 0.9em;
    border: 1.5px solid #00000091;
    border-radius: 2px;
    outline: none;
    padding: 7px;
    margin-left: 2em;
}

/*
* FORM TRANSPORTS
*/

.form-transport-container {
    /*     display: flex;
    flex-flow: column nowrap; */
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.form-transport-item {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-auto-rows: auto;
    gap: 10px;
    align-items: center;
    margin: 15px;
    min-width: 0;
    border: 1px solid rgba(0, 0, 0, 0.288);
    background-color: rgb(245, 244, 244);
    border-radius: 4px;
    padding: 15px;
    box-shadow: 4px 4px #cecece;
}

.form-transport-item * {
    min-width: 0;
}

.form-transport-item:hover {
    border: 2px solid rgba(0, 0, 0, 0.288);
    padding: 14px;
}

.form-transport-item-mode {
    grid-column: 1;
    grid-row: 1;
    font-weight: 600;
}

.form-transport-item-depart {
    grid-column: 1 / 3;
    grid-row: 2;
}

.form-transport-item-arrivee {
    grid-column: 1 / 3;
    grid-row: 3;
}

.form-transport-item-AR {
    grid-column: 1/3;
    grid-row: 4;
}

.form-transport-item-frequence {
    grid-column: 1/3;
    grid-row: 5;
    display: flex;
    align-items: center;
}

.form-transport-item-passagers {
    grid-column: 1/3;
    grid-row: 6;
    display: flex;
    align-items: center;
}

.form-transport-item-delete {
    grid-column: 2;
    grid-row: 1;
    background-color: rgba(211, 79, 79, 0.897);
    padding: 10px;
    font-size: 0.8em;
    color: black;
}

.form-transport-add {
    margin: 0px auto 15px !important;
    display: block;
}

.form-transport-item label{
    font-size: 0.88rem;
}

/*
* FORM ALIMENTATION
*/
