body {
    margin: 0px;
    background-color: rgb(230, 233, 230);
}
header{
    display: flex;
    background-color: #79D059;
    align-items: center;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header .logo {
    margin-left: 25px;
    margin-right: 75px;
}
header .menu-item {
    padding: 16px 20px;
    color: black;
    text-decoration: none;
}
header .menu-item-current {
    padding: 10px 19px 16px 19px!important;
    border-width: 1px 1px 0px 1px !important;
    margin-top: 5px;
    border-style: solid !important;
    border-color: black !important;
    background-color: #A3FF81;
    border-radius: 5px 5px 0 0;
}
header .menu-item:visited {
    color: black;
}
.disp-none {
    display: none;

}