.header {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    background-color: #79D059;
    margin: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.header input[type="button"] {
    padding: 5px;
    margin: 10px 0px 5px 0px;
    background-color: #79D059;
    border-radius: 5px 5px 0 0;
    color: black;
    text-decoration: none;
    border-width: 0;
}

@media screen and (max-width: 750px) {
    .header-active {
        margin: 0px !important;
        padding: 0px !important;
        width: 80% !important;
        display: block !important;
    }
    .header-button:not(#header-methodo) {
        display: none;
    }
    #header-methodo {
        margin-right: 15px;
    }
    .header-methodo-active {
        border-width: 1px 1px 0px 1px !important;
        border-style: solid !important;
        border-color: black !important;
        background-color: #A3FF81 !important;
        padding: 4px 4px 10px 4px !important;
        margin-bottom: 0px !important;
        display: block !important;
    }
    .header input[type="button"] {
        font-size: 1.3rem;
    }
    .header-nav-button {
        margin: 0rem 0.8rem !important;
        padding: 0rem !important;
       /*  margin: 5px 15px;
        font-size: 2rem;
        padding: 15px !important; */
    }
}

@media screen and (min-width: 750px) {
    .header-nav-button {
        display: none;
    }
    .header-active, .header-methodo-active {
        border-width: 1px 1px 0px 1px !important;
        border-style: solid !important;
        border-color: black !important;
        background-color: #A3FF81 !important;
        padding: 4px 4px 9px 4px !important;
        margin-bottom: 0px !important;
        display: block !important;
    }
    .header input[type="button"]:hover:not(.header-active):not(.header-methodo-active) {
        box-shadow: none;
        background-color: #A3FF81;
        padding: 5px 5px 10px 5px !important;
        margin-bottom: 0px !important;
    }
    .header input[type="button"] {
        font-size: 0.9rem;
    }
    .header {
        max-width: 750px;
        margin-top: 1.5rem;
    }
}