.header {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    background-color: #79D059;
    margin: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.header input[type="button"] {
    padding: 5px;
    margin-top: 5px;
    background-color: #79D059;
    border-radius: 5px 5px 0 0;
    color: black;
    text-decoration: none;
    border-width: 0;
}

@media screen and (max-width: 750px) {
    .header-active {
        width: 80% !important;
        display: block !important;
    }
    .header-button {
        display: none;
    }
    .header input[type="button"] {
        font-size: 0.9rem;
    }
    .header-nav-button {
        margin: 5px 15px;
        font-size: 2rem;
        padding: 15px !important;
    }
}

@media screen and (min-width: 750px) {
    .header-nav-button {
        display: none;
    }
    .header-active {
        border-width: 1px 1px 0px 1px !important;
        border-style: solid !important;
        border-color: black !important;
        background-color: #A3FF81 !important;
        padding: 9px !important;
        display: block !important;
    }
    .header input[type="button"]:hover {
        box-shadow: none;
        background-color: #A3FF81;
    }
    .header input[type="button"] {
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 700px) {
    .header {
        max-width: 700px;
    }
}