.main-form {
    background: rgb(255, 255, 255);
    margin: 20px auto;
    min-width: 600px;
    max-width: 700px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.header-modes {
    display: flex;
    justify-content: space-evenly;
    background-color: #79D059;
    margin-bottom: 0px;
}
.header-modes input[type="button"]{
    padding: 10px;
    margin-top: 5px;
    background-color: #79D059;
    border-radius: 5px 5px 0 0;
    color: black;
    text-decoration: none;
    border-width: 0;
    font-size: 0.9em;
}
.header-modes input[type="button"]:hover{
    /* box-shadow: none; */
    background-color: #A3FF81;
}

.header-modes-active {
    border-width: 1px 1px 0px 1px  !important;
    border-style: solid !important;
    border-color: black !important;
    padding: 9px !important;
    background-color: #A3FF81 !important;
}