.resultats-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resultats-selector p {
   width: 20%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 20px 0 15px; 
}
.resultats-selector p span {
    background:#fff; 
    padding:0 10px; 
    font-size: 1em;
}

.resultats-selector label {
    margin-bottom: 6px;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.charts-area {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.chart-ges {
    position: relative;
    flex: 1;
    margin: 20px;
}

#charts-main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
}

#charts-zoom {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
}