body * {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.main-form-content {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(199, 199, 199);
    padding: 10px;
    border-radius: 0 0 5px 5px;
    min-width: 600px;
    max-width: 700px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}
.main-form-content h2 {
    text-align: center;
    margin: 10px 0px;
    padding: 1px;
    font-size: 1.3em;
}
.main-form-content h3 {
    margin: 0.5em 1em;
}
.main-form-content p, .main-form-content li{
    text-align: justify;
    margin: 0em 1.5em;
    padding: 1px;
    font-size: 1em;
    color: rgb(65, 65, 65);
}
.main-form-content ul {
    margin: 0;
}


.form-button {
    font-size: 0.9em;
    border: 1.5px solid #00000091;
    border-radius: 2px;
    outline: none;
    padding: 7px;
    margin-left: 2em;
}

input[type="button"] {
    outline:none;
}
input[type="button"]::-moz-focus-inner {
   border: 0;
}
.divider {
  flex-grow: 1;
  border-bottom: 1px solid rgb(124, 124, 124);
  margin: 25px;
}