body {
    margin: 0px;
    background-color: rgb(230, 233, 230);
}
header{
    display: flex;
    background-color: #79D059;
    align-items: center;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header .logo {
    margin-left: 25px;
    margin-right: 75px;
}
header .menu-item {
    margin: 0px 20px;
    color: black;
    text-decoration: none;
}
header .menu-item:visited {
    color: black;
}
.disp-none {
    display: none;

 }