.methodologie-content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(199, 199, 199);
    padding: 1em 2em;
    border-radius: 0 0 5px 5px;
    min-width: 600px;
    max-width: 700px;
}

.methodologie-content h1 {
    font-size: 1.7em;
    margin: 0.5em 0em;
}

.methodologie-content h2 {
    font-size: 1.2em;
    margin: 0.5em 0.5em;
}

.methodologie-content h3 {
    font-size: 1em;
    margin: 0.5em 1.2em;
    font-style: italic;
    font-weight: normal;
}
.methodologie-content p {
    font-size: 0.9em;
    margin: 0.5em 2em;
    text-align: justify;
    color: rgb(44, 44, 44);
}

.methodologie-content ul {
    margin: 0.5em 2em;
}